<div class="main-body m-8 px-4" *ngIf="data">
  <div class="grid grid-cols-4">
    <div
      class="col-span-2 p-6 ml-8 mr-20 my-8 h-32 bg-white rounded-lg shadow-xl"
    >
      <div class="text-3xl" style="font-family: 'Avenir-Roman'">
        Welcome to <b class="text-red-400">Emotican</b> Dashboard,
      </div>
      <div class="text-lg pt-1 text-gray-500">The Emotion Game!</div>
    </div>

    <div
      class="col-span-1 pt-4 mx-8 my-8 h-32 rounded-lg shadow-xl text-center text-white bg-red-400"
      style="
        background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
      "
    >
      <div class="text-5xl">{{ data.totalGames || 0 }}</div>
      <div
        class="text-xs uppercase tracking-widest avenir-b"
        style="font-family: 'Avenir-Roman'"
      >
        Total games
      </div>
    </div>
    <div
      class="col-span-1 pt-4 mx-8 my-8 h-32 rounded-lg shadow-xl text-center text-white bg-red-400"
      style="
        background-image: linear-gradient(
          45deg,
          #ff9a9e 0%,
          #fad0c4 99%,
          #fad0c4 100%
        );
      "
    >
      <div class="text-5xl">
        {{ data.averageScore || 0 }}<span class="text-2xl">/3</span>
      </div>
      <div
        class="text-xs uppercase tracking-widest avenir-b"
        style="font-family: 'Avenir-Roman'"
      >
        Average Score
      </div>
    </div>
  </div>

  <!-- part 2 -->
  <div class="grid grid-cols-2 my-8">
    <div class="col-span-1 mx-auto">
      <div class="text-gray-700 text-xl mb-6">
        Games played over last few days
      </div>
      <ngx-charts-line-chart
        [view]="view"
        [results]="multi"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [curve]="curve"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel1"
        [yAxisLabel]="yAxisLabel"
        [activeEntries]="multi"
      >
      </ngx-charts-line-chart>
    </div>

    <div class="col-span-1 mx-auto">
      <div class="text-gray-700 text-xl mb-6">Score distribution</div>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme2"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel2"
        [yAxisLabel]="yAxisLabel"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>

  <!-- part 3 -->
  <hr class="my-4 mx-8" />

  <div class="text-gray-700 text-xl ml-16 mt-10">Emotion Correctness</div>
  <div class="grid grid-cols-4 px-4">
    <!-- happy -->
    <div
      class="relative col-span-1 pt-4 mx-8 my-4 h-32 bg-white rounded-lg shadow-xl text-center border-solid border-green-400 border-2"
    >
      <div
        *ngIf="lowest === 'joy'"
        class="absolute top-0 right-0 rounded-full bg-red-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>lowest</b>
      </div>

      <div
        *ngIf="highest === 'joy'"
        class="absolute top-0 right-0 rounded-full bg-green-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>highest</b>
      </div>

      <div class="text-5xl text-gray-700">
        {{ data.emotionCorrectness.joy }}<span class="text-2xl">%</span>
      </div>
      <div
        class="text-xs uppercase tracking-widest text-green-400"
        style="font-family: 'Avenir-Roman'"
      >
        Happy
      </div>
    </div>

    <!-- sad -->
    <div
      class="relative col-span-1 pt-4 mx-8 my-4 h-32 bg-white rounded-lg shadow-xl text-center border-solid border-orange-400 border-2"
    >
      <div
        *ngIf="lowest === 'sadness'"
        class="absolute top-0 right-0 rounded-full bg-red-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>lowest</b>
      </div>

      <div
        *ngIf="highest === 'sadness'"
        class="absolute top-0 right-0 rounded-full bg-green-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>highest</b>
      </div>
      <div class="text-5xl text-gray-700">
        {{ data.emotionCorrectness.sadness }}<span class="text-2xl">%</span>
      </div>
      <div
        class="text-xs uppercase tracking-widest text-orange-400"
        style="font-family: 'Avenir-Roman'"
      >
        Sad
      </div>
    </div>

    <!-- confused -->
    <div
      class="relative col-span-1 pt-4 mx-8 my-4 h-32 bg-white rounded-lg shadow-xl text-center border-solid border-blue-400 border-2"
    >
      <div
        *ngIf="lowest === 'tentative"
        class="absolute top-0 right-0 rounded-full bg-red-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>lowest</b>
      </div>

      <div
        *ngIf="highest === 'tentative"
        class="absolute top-0 right-0 rounded-full bg-green-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>highest</b>
      </div>
      <div class="text-5xl text-gray-700">
        {{ data.emotionCorrectness.tentative }}<span class="text-2xl">%</span>
      </div>
      <div
        class="text-xs uppercase tracking-widest text-blue-400"
        style="font-family: 'Avenir-Roman'"
      >
        Confused
      </div>
    </div>

    <!-- anger -->
    <div
      class="relative col-span-1 pt-4 mx-8 my-4 h-32 bg-white rounded-lg shadow-xl text-center border-solid border-red-400 border-2"
    >
      <div
        *ngIf="lowest === 'anger'"
        class="absolute top-0 right-0 rounded-full bg-red-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>lowest</b>
      </div>

      <div
        *ngIf="highest === 'anger'"
        class="absolute top-0 right-0 rounded-full bg-green-500 px-3 mt-2 mr-2 text-xs text-gray-100"
      >
        <b>highest</b>
      </div>
      <div class="text-5xl text-gray-700">
        {{ data.emotionCorrectness.anger }}<span class="text-2xl">%</span>
      </div>
      <div
        class="text-xs uppercase tracking-widest text-red-400"
        style="font-family: 'Avenir-Roman'"
      >
        Anger
      </div>
    </div>
  </div>
</div>
